@font-face {
  font-family: 'san-francisco-UltraLightP2';
  src: url('fonts/san-francisco-UltraLightP2.eot?#iefix') format('embedded-opentype'),  url('fonts/san-francisco-UltraLightP2.woff') format('woff'), url('/fonts/san-francisco-UltraLightP2.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'san-francisco-regular';
  src: url('fonts/san-francisco-regular.eot?#iefix') format('embedded-opentype'),  url('fonts/san-francisco-regular.woff') format('woff'), url('/fonts/san-francisco-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}