<div class="watch-container">
  <div class="time-box">
    <h2 class="time">{{clock | date:'hh:mm'}}<span class="seconds">{{ clock | date:'.ss'}}</span><span class="am-pm">{{clock | date:' a'}}</span></h2>
    <h3 class="date">{{clock | date:'EEE dd MMM, yyyy'}}</h3>
  </div>
  <span class="shine"></span>
  <ul class="watch-controls" >
    <li><i class="fa fa-bell" ng-click="showAlarm()"></i></li>
    <li><i class="fa fa-clock-o" ng-click="showCrono()"></i></li>
  </ul>
  <div class="alarm-data" ng-show="alarm">
    <input type=text ng-model="alarmTime" class="alarm-input" placeholder="12:00">
  </div>
  <div class="crono-data" ng-show="crono">
    <p>00:00:00</p>
  </div>
</div>



<span class="watch-border"></span>
